
.idea/IEPS_Seminarska_WebCrawler.iml

.idea/misc.xml

*.pyc

*.iml
.idea
.ipynb_checkpoints

Controller/NUL/

PA3-data/e-prostor.gov.si/Icon

PA3-data/e-uprava.gov.si/Icon

PA3-data/evem.gov.si/Icon

PA3-data/podatki.gov.si/Icon
